.bannersSB{
  /* position: fixed; */
  /* top: 12vh;
  right: 1vw; */
  /* width: 21vw; */
  flex: 1;
  height: 80vh;
  border-radius: 10px 10px 10px 10px;
}

.banner{
  background-color: #542ABA;
}

.clear_all{
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.clear_all:hover{
  color: #814bff;
  transition: all 0.3s ease-in-out;
}